main {
	display: flex;
	 
	width: 100vw;
	height: 100vh;
}
/*--------------------*\
	component card
\*--------------------*/
.Card {
	display: flex;
	justify-content: center;
	
	margin: auto;
	width: 48rem;
	min-height: 26rem;
}
	.Card-image {
		flex-basis: 60%;
		background-position:top;
		background-size: cover;
		background-repeat: no-repeat;
	}

    #image{
        width: 90%;
        height: 100%;
    }

	.Card-body {
		--margin: 2em;
		display: flex;
		flex-direction: column;
		justify-content: center;
		flex-basis: 60%;
		
		margin-top: var(--margin);
		margin-bottom: var(--margin);
		margin-left: -4em;
		padding: 0 1.4em;
		background-color: #ffffff;
		box-shadow: rgba(0,0,0,.2) 0 .2em .2em;
	}
	.Card-title { 
    
		margin-bottom: .4em; 
		text-transform: uppercase;
	}
	.Card-title,
	.Card-description { margin: 0; color: black;}